body {
  background-color: rgb(246, 248, 250);
  color: rgb(0, 0, 0);
}

.btn a {
  background-color: rgb(46, 166, 235);
}

.btn a:hover {
  background-color: rgb(26, 109, 202);
}

.container {
  background-color: rgb(46, 166, 235);
  color: rgb(255, 255, 255);
}
